.places__image {
    grid-row: 2;
    grid-column: 1;
    max-width: 100%;  
    width: 100%;
    margin: 0;
    }

    @media screen and (max-width: 592px) {
        .places__image {
        margin-bottom: 32px;
    }
    }