.intro__list {
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    }