.places__title {
    grid-row: 1;
    grid-column: 1;
    margin-top: 0;
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    }
    
    @media screen and (max-width: 768px) {
      .places__title {
        max-width: 720px;
        font-size: 42px;
        line-height: 46px;
        margin-top: 72px;
      }
    }
    
    
    @media screen and (max-width: 425px) {
      .places__title {
      max-width: 288px;
      font-size: 32px;
      line-height: 35px;
      margin: 64px 16px 32px;
        
      }
    }