.places__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    }
    
    .places__link:hover {
    opacity: 0.8;
    transition: 0.3s ease;
    }
    