@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__links-list/header__links-list.css);
@import url(./__links-item/header__links-item.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);


.header {
    display: flex;
    max-width: 1184px;
    margin: 0 auto 56px;
    padding-top: 28px;
    justify-content: space-between;
    }
    
    @media screen and (max-width: 1024px) {
      .header {
        margin-bottom: 48px;
        max-width: 928px;
    }
    }
    
    @media screen and (max-width: 768px) {
      .header {
        max-width: 720px;
    }
    }
    
    @media screen and (max-width: 320px) {
      .header {
        padding-top: 16px;
        max-width: 288px;
      }
    }