.lead__title {
    max-width: 720px;
    width: 100%;
    margin: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    box-sizing: border-box;
    }
      
 @media screen and (max-width: 698px) {
 .lead__title {
  font-size: 40px;
  line-height: 44px;
  }
  }

