@import url(./__list/intro__list.css);
@import url(./__list-accent/intro__list-accent.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);

.intro {
    max-width: 984px;
    margin: 0 auto 92px;
    }

@media screen and (max-width: 1024px) {
  .intro {
  margin: 0 48px 92px;
  }
}
      
@media screen and (max-width: 768px) {
.intro {
max-width: 720px;
margin: 0 24px 88px;
  }
}
      
@media screen and (max-width: 425px) {
.intro {
margin: 0 16px;   
margin-bottom: 64px;
 }
}
      