 .cover__overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    min-height: 740px;
    background: #2A2C2F;
    background-image: url('../../../images/cover-trains_background.png');
    background-position: center center;
    align-items: center;
    z-index: 1;
    text-decoration: none;
    color: white;
    } 

    @media screen and (max-width: 1024px) {
      .cover__overlay {
      min-height: 640px;
      
      }
    }

    @media screen and (max-width: 768px) {
      .cover__overlay {
      min-height: 480px;
      
      }
    }

    @media screen and (max-width: 320px) {
      .cover__overlay {
      min-height: 200px;
      }
    }

    .cover__overlay:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #2A2C2F;
      opacity: 0.3;
      z-index: -1;

    }
    
     .cover__overlay:hover.cover__overlay:before {
      opacity: 0.8;
      } 