.intro__title {
    max-width: 690px;
    margin-bottom: 40px; 
    margin-top: 92px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    box-sizing: border-box;
    }

    @media screen and (max-width: 765px) {
        .intro__title {
      font-size: 32px;
      line-height: 35px;
      margin-top: 64px;
      }
      }